html{
    overflow-x: hidden;
}

body{
    margin:0;
}
    

/* ----------top-bar---------- */

#topbar
    {
        padding: 12px 80px;
        border-bottom: 1px solid #ccc;
        /* position: sticky; */
        top: 0;
        background-color: white;
        
}

#left-menu
 {
    display: flex;
     align-items: center;
 }

#logo
{
    color: rgb(0, 0, 0);
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 400px;
    font-family: 'Raleway',sans-serif;
    margin: 0;
    margin-right: 48px;
}

#menu{
    margin:0;
    margin-right: 24px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500px;
    cursor: pointer;
    font-size: 14px;
}


#right-menu{
    display: flex;
    align-items: center;
}

#search-container > input
{
    width:100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    left:30px;
}
#search-box{

    margin-left:25px;
    padding-left:25px;
    outline: none;
  
}
 
 #search-container{
    width:320px;
    position: relative;
   right:150px;
 } 
 

 #search-icon
{
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    left: 30px;
    top: 7px;
    right:8px;
    z-index: 10;
}

/* #cart{
    width: 20px;
    height: 22px;
    margin-right: 16px;
    margin-left: 16px;
} */

#cart{
    width: 20px;
    height: 22px;
    margin-right: 16px;
    margin-left: 150px;
    
}





#cart-container {
    float: right;
    width: 210px;
    position: relative;
   
  }




  #cart-count{
  position: absolute; 
     top: -20px;
    left:152px;
    height: 20px;
    padding-left:12px;
    padding-right:5px;
    border-radius: 50%;
    text-align: center;
    background-color:  #009688;
    color: white;
    font-weight: bold;
  }
  
  


#profile{
    width:48px;
    height:48px;
    border-radius: 24px;
    }

.fas fa-user-circle{
      width: 150px;
      
    }

nav{

    display: flex;
    justify-content: space-between;
}
 

 a{
     text-decoration: none;
     color:black;
 }

 
 

#header img{
    width:1300px;
    height:300px;
    text-align: center;
    margin:16px;
    margin-left:auto;
    margin-right:auto;
}


/* clothing */


#blog-card{
    width:250px;
    height: auto;
    vertical-align: top;
    margin-bottom: 50px;
    margin-left:40px;
    background-color:white;
    border-radius:5px;
    box-shadow: 0 2px 5px #aaa;
}
#blog-pic{
    width: 250px;
    height:300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: auto;
    margin-left:auto;
}


h1{
    padding-left:30px;
}

h2{
    padding-left:30px;
    font-size:15px;
}


#productname{
    padding-left:10px;
}

P{
    padding-left:30px;
}

section{
    display:flex;
    justify-content: center;
} 

/* ------------footer------------ */

footer{
    background-color:#000000;
    padding:10px 25% 90px 25%;
    position: float;
    line-height:22px;
    word-spacing: 4px;
    letter-spacing: 2px;
    bottom:  0px;
    color:white;
    font-size:10px;
    height:80px;
    width:100%;
    display:flex;

}

/* --------------project-logo-------------- */

#project-logo{
position: fixed;
width:80px;
height: 45px;
left:90%;
top:600px;


}
